*{
    padding:0;
    margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    margin: 0 auto;
}

.codigo{
    font-family: monospace;
    padding: 10px;
    border:2px solid blue;
    background-color: cadetblue;
    color:chocolate;
}

.marco-t{
    border-radius: 8px 8px 0 0;
    border: 1px solid gray;
    padding: 8px;    
    border-bottom: 0;
    margin-top: 20px;
}

.icono + span{
    vertical-align: middle;
}

.marco-b{
    border:1px solid gray;
    border-top: 0;
    margin-bottom: 20px;
    padding: 8px;
    border-radius:0 0 8px 8px;
}
.explicacion{
    padding: 10px;
}


span.icono{
    padding-left: 15px;
    vertical-align: middle;
}





.info, .warning, .folder, .file, .error{
    display: inline-block;
    width: 60px;
    height: 60px;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.info{
    background-image: url(../imagenes/info.png);
    background-color: dodgerblue;
}

.inf{
    background-color: dodgerblue;
}
.warn{
    background-color: khaki;
}
.err{
    background-color:rgba(253, 173, 162,0.5);
}
.file-{
    background-color: gray;

}
.folder-{
    background-color: cadetblue;
    color: white;
}

.warning{
    background-image: url(../imagenes/warning.png);
    background-color:khaki;
}
.error{
    background-image: url(../imagenes/error.png);
    background-color:rgba(253, 173, 162,0.5);
}

.file{
    background-image: url(../imagenes/file.png);
    background-color: gray;
}

.folder{
    background-image: url(../imagenes/folder.png);
    background-color:cadetblue;
}

.info:parent{
    background-color: dodgerblue;
}


.cursiva{
    font-style: italic;
}

.negrita{
    font-weight: bold;
}

.bigger{
    font-size: 1.1em;
}

.r-word{
    display:inline-block;
    border:1px solid rgba(0,255, 0, 0.7);
    background-color: rgba(0,255, 0, 0.3);;
    border-radius: 5px;
    padding: 5px;
    color:green;
}

.d-word{
    display:inline-block;
    border:1px solid rgba(0,0, 255, 0.7);
    background-color:rgba(0,0, 255, 0.3);
    border-radius: 5px;
    padding: 5px;
    color:blue;
}


.main-menu, .main-menu>li{
    list-style: none;    
}

.main-menu>a{
    display: inline-block;
    min-height: 75px;
    line-height: 75px;
    overflow: hidden;
    width: 31.33%;
    padding: 10px;
    margin: 10px 1%;
    border: 2px solid rgb(16, 190, 68);
    border-radius: 7px;
    background-color:rgba(158, 253, 171, 0.5);
    color:rgba(53, 78, 64, 0.7);
    text-align: center;
    box-sizing: border-box;

}
.main-menu a{
    text-decoration: none;
}

body h1{
    text-align: center;
    margin: 0 20px;
    color:royalblue;
    padding: 15px;
    margin: 20px 0;
    border: 2px solid blue;
    border-radius: 9px;
    background-color: rgba(0,90, 255, 0.7);
}

html body .oculto{
    display: none !important;
}

body h2{
    text-align: center;
    margin: 0 20px;
    color:rgb(104, 138, 240);
    font-size: 1.2em;
    padding: 15px;
    margin: 20px 0;
    border: 2px solid rgb(12, 12, 243);
    border-radius: 9px;
    background-color: rgba(156, 178, 218, 0.7);
}

body h3{
    text-align: left;
    margin: 0 20px;
    color:rgb(68, 68, 40);
    font-size: 1.1em;
    padding: 9px;
    margin: 20px 0;
    border-bottom: 2px solid rgb(243, 170, 12);

}

a.enlace{
    text-decoration: none;
    color: green;
    font-style: italic;
}

a.enlace::before{
    content: url('../imagenes/link.png') " ";
}

p{
    margin-bottom: 10px;
}

p ul,p ul li{
    margin-left: 20px;
}
