*{
    padding:0;
    margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.codigo{
    font-family: monospace;
    padding: 10px;
    border:2px solid blue;
    background-color: cadetblue;
    color:chocolate;
}

