*{
    padding:0;
    margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    margin: 0 auto;
}

.codigo{
    font-family: monospace;
    padding: 10px;
    border:2px solid blue;
    background-color: cadetblue;
    color:chocolate;
}

.marco{
    border-radius: 8px 8px 0 0;
    border: 1px solid gray;
}

.marco .info{
    background-color: dodgerblue;
    padding: 8px;
}

.marco .info::before{
    content: url(../imagenes/info.png);
}



